{% extends 'admin/base.html.twig' %}

{% block body %}

    DASHBOARD BACK OFFICE

    <section class="container-fluid">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">

                    <li class="nav-item">
                        <a class="nav-link active" id="promotions-tab" data-toggle="tab" href="#promotions" role="tab" aria-controls="promotions" aria-selected="true">Promotions</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="années-tab" data-toggle="tab" href="#années" role="tab" aria-controls="années" aria-selected="false">Années</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="formations-tab" data-toggle="tab" href="#formations" role="tab" aria-controls="formations" aria-selected="false">Formations</a>
                    </li>

                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="promotions" role="tabpanel" aria-labelledby="home-tab">Promotions</div>
                    <div class="tab-pane fade" id="années" role="tabpanel" aria-labelledby="profile-tab">Années</div>
                    <div class="tab-pane fade" id="formations" role="tabpanel" aria-labelledby="contact-tab">Formations</div>
                </div>

                <a href="{{ path('admin.degree.new') }}" type="button" class="btn btn-primary mb-3 mt-3">
                    <i class="far fa-plus-square"></i>Nouvelle formation
                </a>

                <div class="tab-content" id="myTabContent"></div>
            </div>
        </div>
    </section>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom de la formation</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for degree in degrees %}
                <tr>
                    <td>{{ degree.name }}</td>
                    <td><a href="#"><i class="far fa-edit"></i> </a> </td>
                    <td><a href="#"><i class="far fa-trash-alt"></i></a> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}