{#{% block body %}#}
{#    <ul>#}
{#        {% for degree in degrees %}#}
{#            <li>#}
{#                {{ degree.title }}#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% endblock %}#}